html{
    font-size: 16px;
}

body{
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    width: 300px;
    list-style-type: none;
    padding: 0;
}

img{
    width: 335px;
    height: 170px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}