html{
    font-size: 16px;
}

body{
    box-sizing: border-box;
    height: auto;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    margin: 0;
    margin-bottom: 0;
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

.menu-name{
    text-decoration:  underline solid $color-select-items 3px;
    text-underline-offset: 8px;
}

ul{

    list-style-type: none;
    padding: 0;
}

.img-main{
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-preview{
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
    position: absolute;

}



.fa-utensils{       
    &::before{
    font-size: 15px;
    }
}
.fa-handshake-angle{
    &::before{
        font-size: 11px;
    }
}

.fa-circle-check{
    color: $color-select-items;
    padding: 25px 20px;
    border-radius: 0px 15px 15px 0px;
    
}