html{
    font-size: 16px;
}


body{
    box-sizing: border-box;
    height: auto;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

.img-prev{
    flex:1 100%;
}


h2{
    margin: 0;
    margin-bottom: 0;
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

ul{

    list-style-type: none;
    padding: 0;
}

.img-main{
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-preview{
    width: 100%;
    height: 55%;
    display: block;
    object-fit: cover;
    position: absolute;

}



.fa-utensils{       
    &::before{
    font-size: 15px;
    }
}
.fa-handshake-angle{
    &::before{
        font-size: 11px;
    }
}

.fa-circle-check{
    font-size: 20px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    
}

.fa-heart{
    height: 20px;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    
    &:hover{
    font-weight: 900;
    color:transparent;
    transform-origin: center;
    background-clip: text;
    background-image: $color-btn-main;
    animation: beat 1s ease-in;
    }
}
@keyframes beat {
    
    0% { 
        transform: scale(.5);

    }
    50% {
         transform: scale(1.5); 
    
    }
    100% { 
        transform: scale(1);


    }
}