html {
  font-size: 16px;
}

body {
  height: auto;
  margin: auto;
}

h2 {
  margin: 0;
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img-main {
  width: 320px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.img-preview {
  width: 100%;
  height: 50%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.fa-utensils::before {
  font-size: 15px;
}

.fa-handshake-angle::before {
  font-size: 11px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: black;
}

h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
}

h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
}

p {
  font-weight: lighter;
}

.price {
  font-weight: bold;
}

.discover {
  padding: 0rem 1rem;
  font-weight: lighter;
}

.fa-arrow-left {
  color: black;
}

.btn-main {
  padding: 0.8rem 1.1rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: bold;
  color: white;
  border-radius: 25px;
}

.prev-cards__resto {
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.prev-cards__container {
  height: 77px;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30%;
       column-gap: 30%;
}
.prev-cards .fa-heart {
  font-weight: lighter;
  cursor: pointer;
  font-size: 20px;
}
.prev-cards .fa-heart:active {
  background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

footer {
  width: 100%;
  height: 150px;
  background-color: #353535;
  color: white;
}
footer h1 {
  margin-top: 0;
  padding-top: 1.2rem;
  font-size: 18px;
}
footer .footer-main__contact {
  padding-left: 3rem;
}
@media (min-width: 768px) {
  footer .footer-main__contact {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    padding-right: 2rem;
    height: 100%;
  }
}
@media (min-width: 768px) {
  footer .footer-main__list {
    display: inline-flex;
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
}
footer .footer-main__lists {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
@media (min-width: 768px) {
  footer .footer-main__lists {
    display: inline-flex;
  }
}

.header-main {
  width: 100%;
}
.header-main h1 {
  height: 3rem;
  text-align: center;
}
.header-main .location {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.header-main .loc {
  box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
.header-main h2 {
  padding-top: 2rem;
}
.header-main .btn-main {
  margin: 2rem auto 3rem auto;
}

.resto-page {
  width: 100%;
  text-align: center;
}
.resto-page .fa-arrow-left {
  float: left;
  padding-top: 15px;
}

.homepage {
  margin-top: 1rem;
}
.homepage-fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.homepage-fonction__choice {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (min-width: 768px) {
  .homepage-fonction__choice {
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.homepage .grey {
  color: #7E7E7E;
}
.homepage li {
  margin-left: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  padding: 1.5rem;
}
.homepage li:hover {
  background-color: #F5EDFF;
}
.homepage li .nbs {
  color: #fff;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px 8px;
  position: absolute;
  right: 95%;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}
.preview .prev-cards {
  padding-top: 0.5rem;
}
.preview .prev-cards__resto {
  width: 320px;
}
@media (min-width: 768px) {
  .preview .prev-cards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.preview h2 {
  width: 100%;
}
@media (min-width: 768px) {
  .preview h2 {
    padding-left: 1rem;
  }
}

main {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding-top: 3rem;
  padding-left: 0.7rem;
}
main .titleLike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 40%;
       column-gap: 40%;
  padding-bottom: 2.5rem;
}/*# sourceMappingURL=main.css.map */